  @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&family=Varela+Round&family=Young+Serif&display=swap');
  /* font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Varela Round', sans-serif;
font-family: 'Young Serif', serif; */
body{
    background-color: antiquewhite
}

*{
    margin: 0;
    padding: 0;

}

nav{
    font-family: 'Young Serif', serif; 
 
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 50px;
    background-color: black;
    color: rgb(254, 251, 244);
    align-items: center;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 40px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.container{
    min-height: 65vh;
    /* background-color: black; */
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 24px;
    background-image: url('bg2.jpg');
    background-size: cover;

}

.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 12px;

}

.icons{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 64px;

}

.songItem{
   height: 40px;
   display: flex;
   background-color: aliceblue;
   /* width: 60%; */
   color: black;
   margin: 12px 0;
   justify-content: space-between;
   align-items: center;
   border-radius: 32px;
}

.songItem img{
    width: 43px;
    margin: 0 24px;
    border-radius: 34px;

}

.timestamp{
    margin:0 20px;
}

.timestamp i{
    margin:0 2px;
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;

}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}